/*******************************/
/* Fonts */
/*******************************/

@font-face {
	src: url(../fonts/Yekan.woff);
	font-family: 'Yekan';
}

@font-face {
	src: url(../fonts/Dinar.ttf);
	font-family: 'Dinar';
}

@font-face {
	src: url(../fonts/Calibri.ttf);
	font-family: 'Calibri';
}

.yekan {
	font-family: 'Yekan';
}

.dinar {
	font-family: 'Dinar';
}

/*******************************/
/* Main */
/*******************************/

body {
	font-family: 'Yekan', 'Calibri';
	direction: rtl;
	text-align: right;
}

* {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Dinar'
}


/*******************************/
/* RTL */
/*******************************/
.custom-control-label::before, .custom-control-label::after {
	left: unset;
}

.custom-control-label > span {
	padding-right: 25px;
}
